<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hansol.mapper.BoardMapper">
	<select id="getBoardList" resultType="edu.hansol.domain.Board">
		SELECT * FROM TBL_BOARD
	</select>

	<select id="getBoard" resultType="edu.hansol.domain.Board">
		SELECT * FROM TBL_BOARD
		WHERE BNO = #{bno}
	</select>

	<insert id="insert">
		INSERT INTO TBL_BOARD (BNO,TITLE,CONTENT,WRITER)
		VALUES(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>

	<update id="update">
		UPDATE TBL_BOARD
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BNO = #{bno}
	</update>

	<delete id="delete">
		DELETE
		FROM TBL_BOARD
		WHERE BNO = #{bno}
	</delete>

</mapper>